body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.timer-container {
    text-align: center;
}

.timer {
    font-size: 36px;
    margin-bottom: 20px;
}
